# MATH Package
DEV_MONGO_URI=mongodb://127.0.0.1:27017/booking
DEV_MONGO_USER=booking-user
DEV_MONGO_PASS=booking-pass


//for places

DEV_MYSQL_PASS=
DEV_MYSQL_HOST=
DEV_MYSQL_USER=
DEV_MYSQL_DB=
CLOUDINARY_URL=

# AUTH Package
DEV_AUTH0_DOMAIN=https://dev-c6aj47u9.us.auth0.com/
DEV_AUTH0_AUDIENCE=platziMasterApiApi
DEV_CORS_DOMAIN=http://localhost:3000
